* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-deck {
  width: 100%;
  display: flex;
  margin: 10px auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.favor-image {
  border-radius: 10px;
  margin-bottom: 20px;
}

.card {
  margin: 0 auto;
}

.card-content-user-info {
  width: 100%;
  padding: 10px;
  display: flex;
  background: #f7fafc;
  border-radius: 0 0 10px 10px;
}

.card-content-user-info img {
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  vertical-align: middle;
}

.card-content-user-info h4 {
  font-family: 'Roboto', sans-serif;
}

.card-content-user-info p {
  font-family: 'Roboto', sans-serif;
}

.card-content-user-info .card-content-user-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}